body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav-block {
  background-color: #323232;
}

.menu {
  margin: 0 auto;
  text-align: center;
}

.menu-list {
  display: inline-block;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.logo {
  position: absolute;
  top: 9px;
  left: 50%;
  width: 75px;
  transform: translateX(-50%);
}

.header::after {
  border-style: solid;
  border-width: 35px 60px 0 60px;
  border-color: #323232 transparent transparent transparent;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.menu-list .list-item {
  color: #e0e0e0;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  transition: .2s color ease;
}

.menu .list-item:hover {
  color: #219d84;
}

.menu-list .list-item.about {
  margin-left: 10px;
  margin-right: 100px;
}

.menu-list .list-item.blog {
  margin-left: 100px;
}

.about::before {
  content: "\22C5";
  margin-right: 10px;
  color: #e0e0e0;
}

.blog::after {
  content: "\22C5";
  margin-left: 10px;
  margin-right: 10px;
  color: #e0e0e0;
}

.hex-line {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 210px;
  width: 195px;
  margin: 0 10px;
}

.left-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  left: 30px;
  opacity: 0.5;
  position: absolute;
  top: 80px;
  width: 570px;
}

.right-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  opacity: 0.5;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 570px;
}

.hex-block {
  padding: 100px;
  text-align: center;
}

.line-1 {
  display: inline-block;
}

.line-2 {
  margin-top: -35px;
}

.left-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-right: 20px;
  opacity: .5;
}

.right-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-left: 20px;
  opacity: .5;
}

.line-3 {
  margin-top: -35px;
}

.slider {
  margin-left: 30px;
  margin-top: 65px;
}

.bottom-line {
  border-bottom: 1px solid #d6dfdf;
  margin: 10px 30px;
  opacity: .5;
  position: relative;
}
