body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav-block {
  background-color: #323232;
}

.menu {
  margin: 0 auto;
  text-align: center;
}

.menu-list {
  display: inline-block;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.logo {
  left: 50%;
  position: absolute;
  top: 9px;
  transform: translateX(-50%);
  width: 75px;
}

.header::after {
  border-color: #323232 transparent transparent transparent;
  border-style: solid;
  border-width: 35px 60px 0 60px;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.menu-list .list-item {
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.link {
  color: #e0e0e0;
  text-decoration: none;
  transition: .2s color ease;
}

.menu .list-item:hover,
.link:hover {
  color: #219d84;
}

.menu-list .list-item.about {
  margin-left: 10px;
  margin-right: 100px;
}

.menu-list .list-item.blog {
  margin-left: 100px;
}

.about::before {
  color: #e0e0e0;
  content: "\22C5";
  margin-right: 10px;
}

.blog::after {
  color: #e0e0e0;
  content: "\22C5";
  margin-left: 10px;
  margin-right: 10px;
}

.hex-line {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 210px;
  margin: 0 10px;
  width: 195px;
}

.left-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  left: 30px;
  opacity: 0.5;
  position: absolute;
  top: 80px;
  width: 570px;
}

.right-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  opacity: 0.5;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 570px;
}

.hex-block {
  padding: 100px;
  text-align: center;
}

.line-1 {
  display: inline-block;
}

.line-2 {
  margin-top: -35px;
}

.left-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-right: 20px;
  opacity: .5;
}

.right-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-left: 20px;
  opacity: .5;
}

.line-3 {
  margin-top: -35px;
}

.slider {
  margin-left: 30px;
  margin-top: 65px;
}

.bottom-line {
  border-bottom: 1px solid #d6dfdf;
  margin: 15px 30px;
  opacity: .5;
  position: relative;
}

.about-me {
  background-color: #2eb398;
  padding: 20px 130px;
}

.about-me .inner{
  border: 1px solid #219d84;
  border-bottom: 0;
  border-top: 0;
  color: #fff;
  position: relative;
}

.author {
  display: inline-block;
  margin: 90px 25px;
  min-width: 250px;
}

.about-text {
  display: inline-block;
  margin-right: 25px;
  margin-top: 80px;
  position: absolute;
}

.name {
  display: inline-block;
  font-family: "Maven pro", sans-serif;
  font-size: 39px;
  font-weight: normal;
  margin: 0;
}

.profession {
  color: #20816d;
  font-family: "Maven pro", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}

.inner .text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.socials {
  bottom: 90px;
  position: absolute;
  right: 25px;
}

.socials .icon {
  display: inline-block;
  height: 31px;
  margin: -1.5px;
  opacity: .5;
  width: 32px;
}

.socials .icon:hover {
  filter: none;
  opacity: 1;
  transition: .3s ease;
}

.contact-me {
  background-color: #323232;
  padding: 16px 37px;
}

.contact-me .container {
  font-size: 0;
}

.contact-div {
  border-bottom: 1px solid #2b2b2b;
  border-top: 1px solid #2b2b2b;
  padding: 0 115px;
}

.get-in-touch {
  color: #e0e0e0;
  font-family: "Maven pro", sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 47px 0 0 115px;
}

.form-head {
  color: #e0e0e0;
  font-family: "Maven pro", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin: -2px 0 25px 115px;
}

.contact-form {
  display: inline-block;
  width: 60%;
}

.contact-list {
  list-style: none;
  padding: 0;
}

/*Don't forget about Autofill options*/

.field {
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 1px;
  box-sizing: border-box;
  color: #e0e0e0;
  font-family: "Lato", sans-serif;
  height: 13px;
  margin-bottom: 22px;
  outline: none;
  padding: 18px;
  transition: 0.2s box-shadow ease-in;
  width: 100%;
}

.field::-webkit-input-placeholder {
  color:#e0e0e0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.field::-moz-placeholder {
  color:#e0e0e0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.field:-ms-input-placeholder {
  color:#e0e0e0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.message {
  min-height: 160px;
}

.field:hover {
  box-shadow: 0 0 10px #1fb49d;
}

.field:focus {
  box-shadow: 0 0 10px #1fb49d;
}

.button-container {
  text-align: right;
}

.button {
  background-color: #1fb49d;
  border: none;
  border-radius: 1px;
  color: #e0e0e0;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  outline: none;
  position: relative;
  padding: 15px 40px;
  transition: 0.2s box-shadow ease-in;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: 0 0 5px #1fb49d;
}

.aside {
  color: #e0e0e0;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding-left: 40px;
  position: relative;
  text-align: justify;
  vertical-align: top;
  width: 40%;
}

.aside-text {
  margin: 0;
}

.contacts {
  margin-top: 25px;
  padding-left: 10px;
}

.location,
.phone,
.mail {
  font-size: 16px;
  left: -20px;
  list-style: none;
  padding-left: 10px;
  position: relative;
}

.location-img{
  margin-right: 15px;
  width: 9px;
}

.phone-img{
  margin-right: 11px;
  width: 14px;
}

.mail-img{
  margin-right: 13px;
  width: 16px;
}

.footer {
  background-color: #222;
  color: rgba(69, 69, 69, 255);
  display: inline-block;
  font-family: "Maven Pro", sans-serif;
  width: 100%;
}

.footer-text {
  font-size: 16px ;
  margin-left: 50px;
}
