body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav-block {
  background-color: #323232;
}

.menu {
  margin: 0 auto;
  text-align: center;
}

.menu-list {
  display: inline-block;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.logo {
  left: 50%;
  position: absolute;
  top: 9px;
  transform: translateX(-50%);
  width: 75px;
}

.header::after {
  border-style: solid;
  border-width: 35px 60px 0 60px;
  border-color: #323232 transparent transparent transparent;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.menu-list .list-item {
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.link {
  color: #e0e0e0;
  text-decoration: none;
  transition: .2s color ease;
}

.menu .list-item:hover,
.link:hover {
  color: #219d84;
}

.menu-list .list-item.about {
  margin-left: 10px;
  margin-right: 100px;
}

.menu-list .list-item.blog {
  margin-left: 100px;
}

.about::before {
  color: #e0e0e0;
  content: "\22C5";
  margin-right: 10px;
}

.blog::after {
  content: "\22C5";
  margin-left: 10px;
  margin-right: 10px;
  color: #e0e0e0;
}

.hex-line {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  height: 210px;
  width: 195px;
  margin: 0 10px;
}

.left-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  left: 30px;
  opacity: 0.5;
  position: absolute;
  top: 80px;
  width: 570px;
}

.right-line {
  border: 0;
  border-bottom: 1px solid #d6dfdf;
  opacity: 0.5;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 570px;
}

.hex-block {
  padding: 100px;
  text-align: center;
}

.line-1 {
  display: inline-block;
}

.line-2 {
  margin-top: -35px;
}

.left-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-right: 20px;
  opacity: .5;
}

.right-vertical-line {
  border-left: 1px solid #d6dfdf;
  display: inline-block;
  height: 102px;
  margin-bottom: 54px;
  margin-left: 20px;
  opacity: .5;
}

.line-3 {
  margin-top: -35px;
}

.slider {
  margin-left: 30px;
  margin-top: 65px;
}

.bottom-line {
  border-bottom: 1px solid #d6dfdf;
  margin: 15px 30px;
  opacity: .5;
  position: relative;
}

.about-me {
  background-color: #2eb398;
  padding: 20px 130px;
}

.about-me .inner{
  border: 1px solid #219d84;
  border-bottom: 0;
  border-top: 0;
  color: #fff;
  position: relative;
}

.author {
  display: inline-block;
  margin: 90px 25px;
  min-width: 250px;
}

.about-text {
  display: inline-block;
  margin-top: 80px;
  margin-right: 25px;
  position: absolute;
}

.name {
  display: inline-block;
  font-family: "Maven pro", sans-serif;
  font-size: 39px;
  font-weight: normal;
  margin: 0;
}

.profession {
  font-family: "Maven pro", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #20816d;
  margin-top: 0;
}

.inner .text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.socials {
  bottom: 90px;
  position: absolute;
  right: 25px;
}

.socials .icon {
  display: inline-block;
  height: 31px;
  margin: -1.5px;
  opacity: .5;
  width: 32px;
}

.socials .icon:hover {
  filter: none;
  opacity: 1;
  transition: .3s ease;
}
